html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: DXIcons;
  src: local('DevExtreme Generic Icons'), local('devextreme_generic_icons'),
    url('~devextreme/dist/css/icons/dxicons.woff2') format('woff2'),
    url('~devextreme/dist/css/icons/dxicons.woff') format('woff'),
    url('~devextreme/dist/css/icons/dxicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
